<h1 align="center">@openinf/util-errors</h1>

<center><em>Essential utility errors inspired by Node.js core error codes</em></center>

<br />

<p align="center">
  <a href="https://www.npmjs.com/package/@openinf/util-errors"><img src="https://img.shields.io/npm/v/@openinf/util-errors?style=plastic" alt="view on npm" /></a>
  <img src="https://img.shields.io/github/languages/top/openinf/util-errors?color=blue&style=plastic" />
  <a href="https://opensource.org/licenses/MIT"><img src="https://img.shields.io/github/license/openinf/openinf.github.io?color=blue&style=plastic" alt="License: MIT" /></a>
</p>

<br />

_The high-level goal of `@openinf/util-errors` is to serve as a Node.js package
containing **essential utility error classes** that take the form of those found
and used in Node.js core. As is the case with any software project in continuous
development, omissions and errors may exist, for which contributions are
welcome._

<br />

---

<br />

{{>main}}

---

&copy; OpenINF
