<center><h1>@openinf/util-errors</h1></center>

<center><em>Essential utility errors inspired by Node.js core error codes</em></center>

<br />

_The high-level goal of `@openinf/util-errors` is to serve as a Node.js package
containing **essential utility error classes** that take the form of those found
and used in Node.js core. As is the case with any software project in continuous
development, omissions and errors may exist, for which contributions are
welcome._

<br />

---

{{>main}}

* * *

&copy; OpenINF
